body {
    font-family: Arial, sans-serif;
    /* background-color: #f3f3f3; */
    text-align: center;
    margin: 0;
    padding: 0;
}
.certificate {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    border: 150px solid transparent;
    /* border-image: url(images/border.png) 30% round; */
    background-image: url('../static/images/border.png') !important;
    background-size: auto; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    height: 65vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.header img {
    max-width: 150px;
    /* height: auto; */
}

.header h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #e74c3c;
}

.content {
    margin-top: 10px;
    font-size: 22px;
}

h2 {
    font-size: 36px;
    margin: -10px;
    color: #333;
}

/* certificate.css */
.bold {
    font-weight: bold;
    font-size: 26px;
}

.italic {
    font-size: 26px;
    font-style: italic;
}

.underline {
    text-decoration: underline;
    font-size: 26px;
}

#print_btn{
    margin-top:50px;
    align-items: center;
}

.in-3 {
    outline: none;
    border: none;
    height: auto;
    cursor: pointer;
    margin: 2rem 0;
    padding: 0.5rem 2rem;
    background-color: #ff2828;
    color: #fff;
    font-weight: 600;
    border-radius: 2.5rem;
    transition: 0.3s ease-in-out;
    /* letter-spacing: 0.2rem; */
    font-size: var(--text-md);
  }
  .in-3:hover {
    letter-spacing: 0.05rem;
    /* border: 2px solid var(--primary-color); */
    /* color: ; */
  }

@media print{
    .header {
        margin-top: 300px;
    }
    .content {
        margin-top: 10px;
    }
    #print_btn{
        display:none;
    }
}