@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #FFE0E0; 
  /* border-radius: 15px; */
}
 
body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb{
  background: #FF2828; 
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover ,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff2828; 
}

.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 0px;
}

:root {
  --text-sm: 1rem;
  --text-smd: 1.5rem;
  --text-md: 2rem;
  --text-lg: 2.5rem;
  --text-xl: 3rem;
  --text-xxl: 3.5rem;
  --border-rad-main: 1.5rem;
  --border-rad: 2rem;
  --primary-color: #ff2828;
  /* font-size: 62.5%; */
  font-size: 62.5%;
}
.text-red {
  color: #ff2828;
}
.text-light {
  color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  /* font-size: var(--text-md); */
  background-color: #ffe0e0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
li {
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  letter-spacing: 0.08em;
  font-weight: 500;
}

::selection {
  background-color: rgba(255, 40, 40, 0.682);
}

/* NavBar & Top Image PArt */
header {
  height: 90vh;
  height: 89.5vh;
  /* border: 10px solid salmon; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/header.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}
.notification-box{
  position: absolute;
  top:10%;
  right:1%;
  /* height:30%; */
  width:30%;
  padding: 0rem 1rem 1rem 1rem;
  color:black;
  display: none;
}
.notification-box.notification-active
{
  display: block;
}
.notification-heading{
  font-weight: 600;
  margin: 2rem 0;
}
.sep{
  background-color:gray;
  width:100%;
  height: 1px;
}
.nfs{
  border-bottom:2px solid lightgray;
  width: 100%;
  /* height: 7rem; */
  /* padding: 1rem; */
  padding-left: 1rem;
}
.nfs .nf-content{
  font-weight: 450;
}
.nfs.dt{
  color:rgb(137, 134, 134);
}
.small {
  display: none;
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile-nav {
  position: fixed;
  top: 59.5px;
  left: 100%;
  width: 40%;
  /* min-height: 100vh; */
  border: 2px solid #ff2828;
  border-radius: 16px;
  display: block;
  z-index: 98;
  background-color: #ffe0e0;
  /* padding-top: 120px; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mobile-nav.is-active {
  left: 60%;
}
 
.ni{
  margin:8px 0 ;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 564px) {
  .mobile-nav {
    width:50%;
  }
  .mobile-nav.is-active {
    left: 50%;
  }
}
@media (max-width: 464px) {
  .mobile-nav {
    width:100%;
  }
  .mobile-nav.is-active {
    left: 0%;
  }
}
 
.container {
  width: 100%;
  /* max-width: 1050px; */
  /* width: 90%; */
  /* margin: auto; */
}
.navbar {
  /* border: 13px solid purple; */
  /* width: 100%; */
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  background: #ff2828;
}

.nav-container {
  width: 100%;
  /* border: 3px solid white; */

  display: block;
  position: relative;
  height: 60px;
}

 

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  background: white;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  /* background: #0e2431; */
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  border: 2px solid black;
  display: flex;

  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  background: #ffe0e0;
  width: 100%;
  height: 100vh;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  /* margin-left: -40px; */
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  z-index: 11;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  height: 100%;
  /* border: 2px solid black; */

  display: flex;
  align-items: center;
  justify-content: end;

  padding-right: 2rem;
  font-size: 3.2rem;
  font-size: 700;
  color: white;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
.nav-container input[type="checkbox"]:checked .content {
  display: none;
}

@media (max-width: 743px) {
  .small {
    display: block;
  }
}

/* HelpFul Info PArt */

.content {
  width: 40%;
  position: absolute;
  /* border: 2px solid white; */
  color: #fff;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  font-weight: 600;
  z-index: 4;
}
.content .upper {
  /* border: 2px  solid #ff2828; */
  font-size: 2.5rem;
  text-align: center;
}
.content .lower {
  /* border: 2px  solid black; */
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .lower-in {
  margin-top: -1.5rem;
}

@media (max-width: 960px) {
  .content {
    width: 50%;
  }
}
@media (max-width: 770px) {
  .content {
    width: 60%;
  }
  .content .upper {
    font-size: 2.25rem;
  }
  .content .lower {
    font-size: 4.5rem;
  }
}
@media (max-width: 598px) {
  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 584px) {
  .content {
    width: 90%;
  }
  .content .upper {
    font-size: 2rem;
  }
  .content .lower {
    font-size: 4rem;
  }
}
@media (max-width: 335px) {
  .content {
    width: 100%;
  }
  .content .upper {
    font-size: 1.5rem;
  }
  .content .lower {
    font-size: 3.5rem;
  }
}

.helpful-info {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.helpful-info .container {
  width: 90%;
  /* border: 2px solid black; */
  border:solid 2px #ff2828;
  border-radius: 6rem;
  background-color: #fff;
  height: auto;
  padding: 2rem;
}
.h1 {
  /* border: 2px solid purple; */
  font-size: calc(1rem + var(--text-xxl));
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.h2 {
  /* border: 2px solid purple; */
  padding-left: 3rem;
  font-weight: 500;
  font-size: var(--text-md);
}
.h2-in {
  /* padding-top: 1rem ; */
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .helpful-info .container {
    border-radius: 4rem;

  }
  .h1 {
    font-size: var(--text-xxl);
  }
  .h2 {
    font-size: var(--text-smd);
  }
}
@media (max-width: 550px) {
  .helpful-info .container {
    border-radius: 3rem;
  }
}
@media (max-width: 425px) {
  .helpful-info .container {
    border-radius: 2.5rem;
  }
  .h1 {
    font-size: var(--text-xl);
  }
  .h2 {
    font-size: var(--text-sm);
  }
}
@media (max-width: 368px) {
  .helpful-info .container {
    border-radius: 2rem;
  }
  .h1 {
    font-size: var(--text-lg);
    text-align: center;
  }
}

/* Cards PArt */

.counts {
  display: flex;
  justify-content: center;
  margin: 8rem 0 4rem 0;
}

.counts .container {
  width: 70%;
  /* padding: 2rem; */
  /* border: 2px solid purple; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .count-items {
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.counts .extra span {
  font-weight: 600;
  font-size: var(--text-xxl);
}
.counts .extra p {
  font-weight: 500;
  font-size: var(--text-xl);
}
.count-item3,
.count-item4 {
  margin-bottom: 2rem;
}

@media (max-width: 1132px) {
  .container .count-items {
    width: 30rem;
    height: 12rem;
    margin-top: 1rem;
  }
  .counts .extra span {
    font-weight: 600;
    font-size: var(--text-xl);
  }
  .counts .extra p {
    font-weight: 500;
    font-size: var(--text-lg);
  }
  .count-item3 {
    margin-bottom: 0rem;
  }
  .count-item4 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 450px) {
  .counts .container {
    flex-direction: column;
    align-items: center;
  }
  .container .count-items {
    width: 25rem;
    height: 10rem;
    margin-top: 0.5rem;
  }
  .counts .extra span {
    font-weight: 600;
    font-size: var(--text-lg);
  }
  .counts .extra p {
    font-weight: 500;
    font-size: var(--text-md);
  }

  .count-item4 {
    margin-bottom: 0.5rem;
  }
}

/* Process PArt */

.process {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 4rem 0 0 0;
  /* border: 2px solid black; */
}
.p-1 {
  /* border: 2px solid black; */
  font-size: var(--text-xxl);
  font-weight: 600;
  /* margin-left: 2rem; */
  text-align: center;
}
.p-2 {
  display: flex;
  justify-content: center;
  margin: 2rem 0 8rem 0;
  /* border: 2px solid black; */
}
.p-2 .container {
  width: 70%;
  /* padding: 2rem; */
  /* border: 2px solid purple; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .process-items {
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  padding: 0.5rem;

  border: 3px solid #ff2828;
  border-radius: 3rem;
}
.p-2 .extra span {
  font-weight: 700;
  font-size: var(--text-xl);
}
.p-2 .extra div {
  font-weight: 600;
  font-size: var(--text-md);
}
.process-item3,
.process-item4 {
  margin-bottom: 2rem;
}

@media (max-width: 1132px) {
  .container .process-items {
    width: 30rem;
    height: 18rem;
    margin-top: 1rem;
  }
  .p-2 .extra span {
    font-size: var(--text-lg);
  }
  .p-2 .extra div {
    font-size: var(--text-smd);
  }
  .process-item3 {
    margin-bottom: 0rem;
  }
  .process-item4 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 450px) {
  .container .process-items {
    width: 25rem;
    height: 19rem;
    margin-top: 0.7rem;
  }
  .p-1 {
    font-size: var(--text-xl);
  }
  .p-2 .extra span {
    font-size: var(--text-md);
  }
  .p-2 .extra div {
    font-size: var(--text-sm);
  }

  .process-item4 {
    margin-bottom: 0.5rem;
  }
}

/* SAving Lives Image PArt */

.saving-lives {
  width: 100%;
  height: 70rem;
  margin: 0 0 25rem 0;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/header.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  /* border: 2px solid rgb(255, 40, 40); */
}
.saving-lives .in {
  /* border: 2px solid rgb(255, 40, 40); */
  width: 60%;

  color: #fff;
  font-size: 5.5rem;
  font-weight: 700;
  text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.saving-lives .opinion {
  width: 60%;
  padding-bottom: 12rem;
  /* height:38rem; */

  background-color: #fff;
  border-radius: 3rem;

  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -150%);

  display: flex;
  justify-content: center;
}
.saving-lives .opinion .one {
  /* border: 2px solid powderblue; */
  width: 90%;
}

.opinion .one .one-1 {
  /* border: 2px solid powderblue; */

  font-size: 5rem;
  font-weight: 700;

  color: #ff2828;
}
.opinion .one .one-2 {
  /* border: 2px solid black; */
  width: 90%;
  font-size: var(--text-md);
  font-weight: 600;
}
.opinion .one .one-21 {
  margin-left: 2rem;
}
.opinion .one .one-22 {
  /* border: 2px solid black;  */
  text-align: end;
  margin-left: 4rem;
  font-size: var(--text-lg);
}

@media (max-width: 1040px) {
  .saving-lives .in {
    font-size: 4.5rem;
  }
  .opinion .one .one-2 {
    width: 100%;
  }
}
@media (max-width: 851px) {
  .saving-lives .opinion {
    /* padding-bottom: 10rem; */
    top: 125%;
    left: 50%;
    transform: translate(-50%, -125%);
  }
  .saving-lives .in {
    font-size: 4rem;
  }
  .opinion .one .one-1 {
    font-size: 4rem;
  }
  .opinion .one .one-2 {
    width: 100%;
    font-size: var(--text-smd);
  }
  .opinion .one .one-22 {
    font-size: var(--text-md);
  }
}
@media (max-width: 756px) {
  .saving-lives .in {
    font-size: 3.5rem;
  }
}
@media (max-width: 543px) {
  .saving-lives .in {
    font-size: 2.85rem;
  }
  .saving-lives .opinion {
    top: 147%;
    left: 50%;
    transform: translate(-50%, -147%);
  }
  .opinion .one .one-1 {
    font-size: 3rem;
  }
  .opinion .one .one-2 {
    font-size: var(--text-smd);
  }
  .opinion .one .one-22 {
    font-size: var(--text-md);
  }
}
@media (max-width: 409px) {
  .saving-lives .in {
    font-size: 2.85rem;
  }
  .saving-lives .opinion {
    top: 150%;
    left: 50%;
    transform: translate(-50%, -150%);
  }
  .opinion .one .one-1 {
    font-size: 2.5rem;
  }
  .opinion .one .one-2 {
    font-size: var(--text-sm);
  }
  .opinion .one .one-22 {
    font-size: var(--text-sm);
  }
}
@media (max-width: 380px) {
  .saving-lives .opinion {
    width: 90%;
  }
}
@media (max-width: 342px) {
  .saving-lives .opinion {
    padding-bottom: 6rem;
    top:140%;
        left:50%;
        transform: translate(-50%,-150%);
  }
  .opinion .one .one-1 {
    font-size: 2.5rem;
  }
  .opinion .one .one-2 {
    font-size: var(--text-sm);
  }
}

/* Donate Now PArt  */

.donate-now {
  /* border: 2px solid black; */
  height: auto;
  margin: 0 0 5rem 0;
  /* margin-bottom: 60rem; */

  display: flex;
  justify-content: center;
}
.donate-now .in {
  width: 60vw;
  background-color: #fff;
  border-radius: 3rem;
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.in-1 {
  color: #ff2828;
  /* font-size: calc(var(--text-lg) - 0.1rem); */
  /* font-size: 1.2em; */
  font-size: var(--text-lg);
  font-weight: 700;
  /* border: 2px solid black; */
}
.in-1-lower {
  display: none;
}
.in-2 {
  font-weight: 600;
  text-align: center;
  font-size: var(--text-md);
  /* border: 2px solid darkblue; */
  /* padding-bottom: 5rem; */
}
.in-3 {
  /* border: 2px solid purple; */
  /* width : 2rem; */
  height: auto;
  cursor: pointer;
  margin: 2rem 0;
  padding: 0.5rem 3rem;
  background-color: #ff2828;
  color: #fff;
  font-weight: 600;
  border-radius: 2.5rem;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.2rem;
  font-size: var(--text-md);
}
.in-3:hover {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
@media (max-width: 1250px) {
  .in-1 {
    font-size: calc(var(--text-lg) - 0.2rem);
  }
}
@media (max-width: 1170px) {
  .in-1 {
    font-size: calc(var(--text-lg) - 0.4rem);
  }
  .in-2 {
    font-size: calc(var(--text-md) - 0.2rem);
  }
  .in-3 {
    font-size: calc(var(--text-md) - 0.2rem);
    margin: 1.7rem 0;
  }
}
@media (max-width: 1070px) {
  .in-1 {
    font-size: var(--text-md);
  }
  .in-2 {
    font-size: calc(var(--text-md) - 0.3rem);
  }
  .in-3 {
    font-size: calc(var(--text-md) - 0.4rem);
    padding: 0.3rem 1.8rem;
    margin: 1rem 0;
  }
}
@media (max-width: 1000px) {
  .in-1 {
    font-size: 1.9rem;
  }
  .in-2 {
    font-size: 1.5rem;
  }
  .in-3 {
    font-size: 1.4rem;
    padding: 0.3rem 1.7rem;
    margin: 0.8rem 0;
  }
}
@media (max-width: 936px) {
  .in-1 {
    font-size: 1.8rem;
  }
  .in-2 {
    font-size: 1.4rem;
  }
  .in-3 {
    font-size: 1.3rem;
    padding: 0.3rem 1.5rem;
    margin: 0.8rem 0;
  }
}
@media (max-width: 888px) {
  .in-1 {
    font-size: 1.6rem;
    /* text-align: center; */
  }
  .in-2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .in-3 {
    font-size: 1.1rem;
    padding: 0.3rem 1.5rem;
    margin: 0.5rem 0;
  }
}
@media (max-width: 793px) {
  .in-1 {
    display: none;
    font-size: 1.6rem;
    text-align: center;
  }
  .in-1-lower {
    display: block;
    color: #ff2828;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
  }
  .in-3 {
    font-size: 1rem;
    padding: 0.3rem 1.5rem;
    margin: 0.4rem 0;
  }
}

/* Footer CSS Start */
.footer {
  display: flex;
  /* border: 2px solid red; */
  background: #fff;
  height: 27rem;
  align-items: center;
  justify-content: space-evenly;
}
.f-logo {
  /* border: 2px solid green; */
  width: 30%;
}
.f-about {
  /* border: 2px solid green; */
  height: 100%;
  width: 43rem;

  padding-top: 3rem;
}
.f-contact {
  /* border: 2px solid green; */
  height: 100%;
  padding-top: 3rem;
}
.f-heading {
  font-weight: bold;
  padding-top: 0.5rem;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.f-content {
  padding-top: 0.5rem;
  text-align: justify;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.f-info {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.f-info p {
  letter-spacing: 0.15rem;
}
@media (max-width: 1100px) {
  .f-about {
    width: 35rem;
  }
}
@media (max-width: 980px) {
  .footer {
    justify-content: space-between;
  }
  .f-logo {
    width: 27%;
  }
}
@media (max-width: 870px) {
  .footer {
    height: 22rem;
  }
  .f-logo {
    width: 25%;
  }
  .f-heading {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .f-content {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 800px) {
  .f-logo {
    width: 20%;
  }
}
@media (max-width: 736px) {
  .footer {
    height: 25rem;
    /* flex-direction: col; */
  }
  .f-about {
    width: 25rem;
  }

  .f-heading {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
  .f-content {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
}

@media (max-width: 618px) {
  .footer {
    height: 60rem;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .footer .f-logo {
    transform: scale(1.6);
  }
  .f-in {
    height: auto;
  }
  .f-about {
    width: 35rem;
  }
  .f-heading {
    text-align: center;
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }
  .f-content {
    text-align: center;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}
@media (max-width: 430px) {
  .footer .f-logo {
    transform: scale(1.9);
  }
}
@media (max-width: 344px) {
  .footer .f-logo {
    transform: scale(2.5);
  }
  .f-about {
    width: 32rem;
  }
}
/* Footer CSS Over */

.dropdown {
  position: relative;
}
.dropdown .options {
  z-index: -1;
  position: absolute;
  top: 50px;
  /* left:-2px; */
  right: 24%;
  width: 250px;
  background: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  overflow: hidden;
  display: none;
  z-index: 100000;
  border: 2px solid #ff2828;
  color: black;
}
.dropdown.active .options {
  display: block;
}

.dropdown .options div {
  padding: 7px 20px;
  cursor: pointer;
}
.dropdown .options div:hover {
  background: rgb(255, 127, 127);
  color: #fff;
}

/* Back To Top Button */
#button {
  display: inline-block;
  background-color: #ff2828;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;

  opacity: 0;
  /* visibility: hidden; */
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #ff2828b0;
}
#button:active {
  background-color: #ff2828d8;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.unread {
  background-color: #FFE0E0;
  /* box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.72);
  -webkit-box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.72);
  z-index: 10000000000; */
}



