<!DOCTYPE html>
<html lang="en" class="box-border  ">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/3b57b3cea0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
  <link rel="icon" href="../static/images/favicon.png">
</head>

<body class="bg-[#FFE0E0]">
  <!-- Back To Top Button -->
  <a id="button"></a>

  <nav class="bg-[#FF2828] w-full flex py-[12px] text-white text-[24px] max-[830px]:hidden">
    <div
      class="flex items-center w-[20%] ml-6 text-4xl hover:tracking-[0.1em] transition-all duration-700 cursor-pointer">
      <a href="{{url_for('index')}}">Life Saver</a>
    </div>

    <div class="flex w-[80%] justify-end items-center">
      <div class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7">
        <a href="{{url_for('index')}}">Home</a>
      </div>

      <div class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7">
        <a href="{{url_for('about')}}">About Us</a>
      </div>

      <div class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7">
        <a href="{{url_for('contact')}}">Contact Us</a>
      </div>


      <div class="nav-btn p-dropdown input">
        <div class="temp flex items-center">
          <button class="inline mx-[28px]" onclick="showItemS()">
            <img src=" {{ src }} " id="profile-pic-main" alt=""
              class="rounded-full bg-[#d9d9d9] w-[48px] h-[48px] cursor-pointer" />
          </button>
        </div>

        <div class="options text-[19px]">
          <a href="{{url_for('HAppointment')}}">
            <div>Get Blood</div>
          </a>
          <a href="{{url_for('HRecipients')}}">
            <div>Add Recipient</div>
          </a>
          <a href="{{url_for('logout')}}">
            <div>Log Out</div>
          </a>
        </div>
      </div>

      <!-- <div
                class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7 rounded-full  w-12 h-12 bg-white">
            </div> -->
    </div>
  </nav>

  <!-- Hamburger for smaller screens  -->
  <nav class="small bg-[#FF2828] w-full flex justify-between py-[7px] text-[20px] min-[831px]:hidden ">

    <div
      class="flex items-center  max-[884px]:text-[30px] ml-[24px] text-[36px] hover:tracking-[0.1em] transition-all duration-700 cursor-pointer text-white">
      <a href="{{url_for('index')}}">Life Saver</a>
    </div>

    <button class="hamburger mx-[28px]">
      <div class="bar"></div>
    </button>

    <div class="mobile-nav flex flex-col items-center ">
      {% if user is none %}
      <!-- No user has logged in -->
      <a href="{{url_for('login')}}" class="ni">Log In</a>
      {% else %}

      <div class="h-head  ni flex mt-[30px] items-center 
        pl-[0.3rem]">
        <a href="{{url_for('profile')}}">
          <img src="{{ src }}" id="profile-pic-main" alt="" class="rounded-md bg-[#d9d9d9] w-[100px] h-[100px] " />
        </a>
      </div>

      <div class="ni h-head-2 w-full justify-evenly flex  ">
        <a href="{{url_for('appointment')}}">
          <div class="hh2-1  flex flex-col items-center cursor-pointer">
            <img src="../static/images/appointment-logo.png" width="26px" height="26px" alt="">
            Get Appointment
          </div>
        </a>
        <a href="{{url_for('logout')}}">
          <div class="hh2-2 flex flex-col items-center cursor-pointer mt-[5px]">
            <i class="fa-solid fa-arrow-right-from-bracket opacity-[0.7] scale-[1.1]"></i>
            Log Out
          </div>
        </a>
      </div>
      {% endif %}
      <a href="{{url_for('index')}}" class="ni">Home</a>
      <a href="{{url_for('about')}}" class="ni">About Us</a>
      <a href="{{url_for('contact')}}" class="ni">Contact Us</a>
    </div>
  </nav>


  <div class="p-container mt-5 flex    mb-[0rem]">
    <!-- border border-red-700   -->
    <div class="left w-[40%] p-10">
      <!-- Flash message start -->
      <div class="flash-messages">
        <div class="msg">
          <!-- <div class="inner">hello This is error </div> -->
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="inner">{{ messages[-1] }}</div>

          {% endif %} {% endwith %}
        </div>
      </div>
      <!--Flash ends  -->
      {% set myVariable = "two" %}

      <div class="flex flex-col items-center text-3xl   max-[750px]:text-2xl ">
        <!-- <form method="post" action="update_img" enctype="multipart/form-data"> -->
        <div class="pp">
          <img src="{{ src }}" id="profile-pic" alt="" class="w-[300px] h-[300px] rounded-full bg-[#d9d9d9] 
              cursor-pointer max-[430px]:w-[250px] max-[430px]:h-[250px]" />

          <label for="input-file" class="pp-label cursor-pointer text-2xl rounded-full">
            <i class="fa-solid fa-pencil fa-xl" style="color: #000"></i>
          </label>

          <input type="file" name="image" accept="image/jpeg, image/png, image/jpg" id="input-file" class="hidden" />
        </div>

        <!-- </form> -->

        <div
          class="mt-7 py-2 w-3/4 max-[1095px]:w-[40%] max-[580px]:w-[60%] max-[420px]:w-[80%] max-[355px]:w-[90%] rounded-3xl bg-[#ff2828] text-white text-center">
          <a href="#donor-info" class="block">Profile</a>
        </div>

        <div
          class="t mt-2 py-2 w-3/4 max-[1095px]:w-[40%] max-[580px]:w-[60%] max-[420px]:w-[80%] max-[355px]:w-[90%]  rounded-3xl bg-[#ff2828] text-white text-center">
          <a href="#appointment" class="block">Appointments</a>
        </div>

        <div
          class="mt-2 py-2 w-3/4 max-[1095px]:w-[40%] max-[580px]:w-[60%] max-[420px]:w-[80%] max-[355px]:w-[90%]  rounded-3xl bg-[#ff2828] text-white text-center ">
          <a href="#history" class="block">History</a>
        </div>
      </div>
    </div>

    <div
      class="right w-[60%] min-[1095px]:aspect-[18/13]  min-[1095px]:overflow-y-scroll min-[1095px]:snap-y min-[1095px]:snap-mandatory  p-7 scroll-smooth ">
      <div id="donor-info" class="mx-auto w-[100%] text-[#ff2828] bg-white rounded-2xl p-6">
        <h1 class="text-3xl max-[614px]:text-center max-[430px]:text-2xl  ">Hospital Information</h1>

        <form action="\HProfile" method="post">

          <div class="top flex space-x-3 justify-between max-[614px]:flex-col max-[614px]:space-x-0 ">

            <div class="mail-id input-container w-[60%] max-[615px]:w-full">
              <input type="text" name="email" class="input" value="{{ user.h_email_id}}" readonly required />
              <label for="">E-Mail ID</label>
              <span>E-Mail ID</span>
            </div>
          </div>

          <div class="name flex space-x-3 max-[614px]:flex-col max-[614px]:space-x-0">
            <div class="input-container w-full max-[615px]:w-full">
              <input type="text" name="Fname" class="input" value="{{ user.name }}" required readonly />
              <label for="">Name</label>
              <span>Name</span>
            </div>


          </div>




          <div class="input-container textarea">
            <textarea name="address" class="input"
              required>{{ "" if user.address is none else user.address }}</textarea>
            <label for="">Address</label>
            <span>Address</span>
          </div>

          <div class="name flex space-x-12 max-[614px]:flex-col max-[614px]:space-x-0">
            <div class="input-container w-1/2 max-[615px]:w-full">
              <div class="dropdown input">
                <input type="text" class="textBoxCity" value=" {{ user.city }}" name="city" id="CitytextBox" required
                  readonly />
                <div class="options" id="OptionsCity">
                  {% for city in cities %}
                  <div onclick='showCity("{{ city }}")'>{{ city }}</div>
                  {% endfor %}
                </div>
              </div>
              <label for="">City</label>
              <span>City</span>
            </div>

            <div class="input-container w-1/2 max-[615px]:w-full">
              <input type="text" name="mob" class="input" value=" {{ user.contact_phone }}" required readonly />
              <label for="">Mobile No.</label>
              <span>Mobile No.</span>
            </div>
          </div>

          <input type="submit" value="Update" class="btnupdate bg-[#ff2828]" />
        </form>
      </div>

      <div id="appointment"
        class="rounded-xl bg-white flex flex-col mt-[4rem] p-2 text-[#ff2828] h-[auto] px-[2rem] pb-[2rem] ">
        <div class="heading text-2xl font-bold ">Appointments</div>

        <div class="tmp-outer">
          <div class="appointment-table mt-[1rem] ">

            <div class="t-data t-scroll">
              <table class="overflow-x-scroll">
                <thead class="">
                  <tr>
                    <th class="">Transfusion ID</th>
                    <th class="">Blood Group</th>
                    <th class="">Date</th>
                    <th class=" ">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {% for appointment in results %}
                  <tr>
                    <td class="border-t-[0px]">
                      {{appointment.transfusion_id}}
                    </td>
                    <td class="border-t-[0px]">
                      {{appointment.blood_type}}
                    </td>
                    <td class="border-t-[0px]">
                      {{appointment.transfusion_date}}
                    </td>
                    <td class="border-t-[0px]">{{appointment.quantity_transfused}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <div id="history"
        class="rounded-xl bg-white flex flex-col mt-[4rem] p-2 text-[#ff2828] h-[auto] px-[2rem] pb-[2rem] ">
        <div class="heading text-2xl font-bold mb-[1rem]">History</div>
        <div class="ht overflow-x-scroll t-scroll">
          <table>
            <thead>
              <tr>
                <th class="">Transfusion ID</th>
                <th class="">Blood Group</th>
                <th class="">Date</th>
                <th class=" ">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for frs in results%}
              {% if frs.status == 1%}
              <tr>
                <td>{{ frs.transfusion_id }}</td>
                <td>{{ frs.blood_type }}</td>
                <td>{{ frs.transfusion_date }}</td>
                <td>{{ frs.quantity_transfused }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <script>
    //->Back To Top Button JS<-
    // Get the button element
    var btn = document.getElementById("button");

    // Add a scroll event listener to the window
    window.addEventListener("scroll", function () {
      if (window.scrollY > 300) {
        // Add the "show" class when scrolled down
        btn.classList.add("show");
      } else {
        // Remove the "show" class when at the top
        btn.classList.remove("show");
      }
    });

    // Add a click event listener to the button
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      // Smoothly scroll to the top
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });



    // InputBox Animation JS
    const ips = document.querySelectorAll(".input");
    ips.forEach((ip) => {
      ip.addEventListener("focus", (e) => {
        e.target.parentNode.classList.add("focus");
      });
      if (ip.value != "") {
        ip.parentNode.classList.add("focus");
      }

      ip.addEventListener("blur", (e) => {
        if (e.target.value === "") {
          e.target.parentNode.classList.remove("focus");
        }
      });

      ip.addEventListener("input", (e) => {
        e.target.parentNode.classList.add("focus");
      });
    });

    let pp = document.getElementById("profile-pic");
    let ppMain = document.getElementById("profile-pic-main");
    let pplabel = document.querySelector(".pp-label");
    let inputFile = document.getElementById("input-file");

    inputFile.onchange = function () {
      // Add AJAX here to send the image path to the server
      if ("{{ myVariable }}" === "two") {
        // alert('Please enter');
        pp.src = URL.createObjectURL(inputFile.files[0]);
        ppMain.src = URL.createObjectURL(inputFile.files[0]);
        const formData = new FormData();
        formData.append("image", inputFile.files[0]);

        fetch("/update_img", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            // Handle the response from the server if needed
          });
      } else {
        window.location.href = "/index";
      }
    };

    // Change Profile Photo Pencil JS
    document.addEventListener("DOMContentLoaded", function () {
      const pp = document.querySelector(".pp");
      const pplabel = pp.querySelector(".pp-label");

      let pp_mouse = false;

      pp.addEventListener("mouseover", function () {
        this.style.filter = "brightness(50%)";

        pplabel.style.display = "block";
        pplabel.children[0].classList.add("fa-shake");
        pplabel.children[0].style.color = "#000";

        setTimeout(() => {
          if (pplabel.children[0].classList.contains("fa-shake")) {
            pplabel.children[0].classList.remove("fa-shake");
          }
        }, 1000);
      });

      pp.addEventListener("mouseout", function () {
        this.style.filter = "brightness(100%)";
        pplabel.style.display = "none";
      });
    });

    // Js for Updating Value in Input after Selecting
    function showCity(word) {
      document.querySelector(".textBoxCity").value = word;
    }
    function showGender(word) {
      document.querySelector(".textBoxGender").value = word;
    }
    function showBloodType(word) {
      document.querySelector(".textBoxBlood").value = word;
    }

    // Loop through all .dropdown elements
    let dd = document.querySelectorAll(".dropdown");
    dd.forEach(function (dropdown) {
      dropdown.addEventListener("click", function () {
        dropdown.classList.toggle("active");
      });

      dropdown.addEventListener("focus", function () {
        dropdown.classList.add("active");
      });

      dropdown.addEventListener("blur", function () {
        dropdown.classList.remove("active");
      });
      document.addEventListener("click", function (event) {
        if (event.target !== dropdown && !dropdown.contains(event.target)) {
          if (dropdown.classList.contains("active"))
            dropdown.classList.remove("active");
        }
      });
    });

    //NavBar Profile Click DropDown
    let navbtn = document.querySelector(".nav-btn");
    function showItemS() {
      navbtn.classList.toggle("active");
    }
    document.addEventListener("click", function (event) {
      if (event.target !== navbtn && !navbtn.contains(event.target)) {
        if (navbtn.classList.contains("active"))
          navbtn.classList.remove("active");
      }
    });
    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        // Tab is minimized or Tab is moved, remove the "active" class
        navbtn.classList.remove("active");
      }
    });

    //->Hamburger Menu JS<-
    const menu_btn = document.querySelector('.hamburger');
    const mobile_menu = document.querySelector('.mobile-nav');
    console.log(menu_btn);
    console.log(mobile_menu);
    menu_btn.addEventListener('click', function () {
      menu_btn.classList.toggle('is-active');
      mobile_menu.classList.toggle('is-active');
    });

    // Flash Message JS
    const fmsg = document.querySelector(".flash-messages");

    setTimeout(() => {
      if (fmsg.classList.contains("active")) {
        fmsg.classList.remove("active");
      }
    }, 3000);

    const ims = document.querySelector(".inner");
    if (ims !== null && ims.textContent != "") {
      fmsg.classList.add("active");
    }

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('page')) {
      // Scroll to the "appointment" section when the page loads
      const element = document.getElementById('appointment');
      if (element) {
        element.scrollIntoView({ behavior: 'smooth' });
      }
    }

    //City Search Box Js

    function fetchCities() {
      fetch("/get_cities_json")
        .then((response) => response.json())
        .then((data) => {
          var cities = data["cities"];
          const resultBox = document.getElementById("OptionsCity");
          const inputBox = document.getElementById("CitytextBox");
          const rBHTML = resultBox.innerHTML;
          inputBox.onkeyup = function () {

            let result = [];
            let input = inputBox.value;
            if (input.length) {
              result = cities.filter((keyword) => {
                return keyword.toLowerCase().startsWith(input.toLowerCase());
              });
            }

            display(result);

            if (!result.length) {
              resultBox.innerHTML = "";
            }
            if (!input.length) {
              resultBox.innerHTML = rBHTML;
            }
          };

          function display(result) {
            resultBox.innerHTML = "";
            const content = result.map((div) => {
              return '<div onclick=showCity(this.innerHTML)>' + div + '</div>';
            });
            resultBox.innerHTML = content.join('');
          }
        })
        .catch((error) => console.error("Error:", error));
    }
    fetchCities();

  </script>
</body>

</html>