<!DOCTYPE html>
<html lang="en" class="box-border scroll-smooth focus:scroll-auto">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/3b57b3cea0.js" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- Link to external JavaScript files using url_for -->
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
</head>

<body class="dreq-body bg-[#ffe0e0]">
  <nav class="bg-[#FF2828] w-full flex py-[12px] text-white text-[24px]">
    <div
      class="flex items-center w-[20%] ml-6 text-4xl hover:tracking-[0.1em] transition-all duration-700 cursor-pointer">
      <a href="{{ url_for('index') }}">Life Saver</a>
    </div>

    <div class="flex w-[80%] justify-end items-center">
      <div class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7">
        <a href="{{ url_for('Admin') }}">Dashboard</a>
      </div>



      <div class="nav-btn p-dropdown input">
        <div class="temp flex items-center">
          <button class="inline mx-[28px]" onclick="showItemS()">
            <div class="hover:border-b-2 hover:border-white transition-all duration-100">Requests</div>
          </button>
        </div>

        <div class="options text-[19px]">
          <a href="{{ url_for('Drequests') }}">
            <div>Donor Requests</div>
          </a>
          <a href="{{ url_for('HRequests')}}">
            <div>Blood Requests</div>
          </a>
        </div>
      </div>



      <div class="nav-btn2 p-dropdown input">
        <div class="temp flex items-center">
          <button class="inline mx-[28px]" onclick="showItemSClient()">
            <div id="profile-pic-main" class="hover:border-b-2 hover:border-white transition-all duration-100">Client
            </div>
          </button>
        </div>

        <div class="options text-[19px]">
          <a href="{{ url_for('Client', id='donor') }}">
            <div>Donor List</div>
          </a>
          <a href="{{ url_for('Client', id='hospital') }}">
            <div>Hospital List</div>
          </a>
          <a href="{{ url_for('Client', id='recipient') }}">
            <div>Recipient List</div>
          </a>
        </div>
      </div>

      <div class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7">
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>


    </div>
  </nav>


  <div class="my-8  text-3xl font-medium text-center">Hospital Requests</div>

  <div class="mt-8 flex justify-center mb-[4rem]">

    <!-- Flash message start -->
    <div class="flash-messages">
      <div class="msg">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="inner">{{ messages[-1] }}</div>
        {% endif %} {% endwith %}
      </div>
    </div>
    <!--Flash message ends  -->

    <div class="h-req w-[90%]   px-7 pt-1 ">
      <table>
        <tr>
          <th class="bg-[#ff2828] text-white text-xl ">Blood Type</th>
          <th class="bg-[#ff2828] text-white text-xl ">Date</th>
          <th class="bg-[#ff2828] text-white text-xl ">Quantity Required</th>
          <th class="bg-[#ff2828] text-white text-xl ">Place</th>
          <th class="bg-[#ff2828] text-white text-xl ">Status</th>
        </tr>
        {% for appo in ua%}
        {% if appo.status == 0 %}
        <tr>
          <td class="font-bold">{{ appo.blood_type}}</td>
          <td>{{ appo.transfusion_date }}</td>
          <td>{{ appo.quantity_transfused }}</td>
          <td>{{ appo.city1 }},{{ appo.city2 }},{{ appo.city3 }}</td>
          <td>
            {% if appo.transfusion_id !=  id%}
            <a class="fill-form bg-green-500 px-4 py-1 text-[#fff] rounded-2xl" href="{{ url_for('check', transfusion_id=appo.transfusion_id) }}">
              Dispatch
            </a>
            {% elif appo.transfusion_id ==  id and found == False%}
            <a class="fill-form bg-red-500 px-4 py-1 text-[#fff] rounded-2xl" href="{{ url_for('delete_request', transfusion_id=appo.transfusion_id) }}">
              Not Available
            </a>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>

  </div>


  <script>

    //NavBar JS
    let navbtn = document.querySelector(".nav-btn");
    let navbtnclient = document.querySelector(".nav-btn2");

    function showItemS() {
      navbtn.classList.toggle("active");
    }
    document.addEventListener("click", function (event) {
      if (event.target !== navbtn && !navbtn.contains(event.target)) {
        if (navbtn.classList.contains("active"))
          navbtn.classList.remove("active");
      }
    });
    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        // Tab is minimized or Tab is moved, remove the "active" class
        navbtn.classList.remove("active");
      }
    });

    function showItemSClient() {
      navbtnclient.classList.toggle("active");
    }
    document.addEventListener("click", function (event) {
      if (event.target !== navbtnclient && !navbtnclient.contains(event.target)) {
        if (navbtnclient.classList.contains("active"))
          navbtnclient.classList.remove("active");
      }
    });
    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        // Tab is minimized or Tab is moved, remove the "active" class
        navbtnclient.classList.remove("active");
      }
    });
   


    // InputBox Animation JS
    const ips = document.querySelectorAll(".input");
    ips.forEach((ip) => {
      ip.addEventListener("focus", (e) => {
        e.target.parentNode.classList.add("focus");
      });
      if (ip.value != "") {
        ip.parentNode.classList.add("focus");
      }

      ip.addEventListener("blur", (e) => {
        if (e.target.value === "") {
          e.target.parentNode.classList.remove("focus");
        }
      });

      ip.addEventListener("input", (e) => {
        e.target.parentNode.classList.add("focus");
      });
    });


    // Flash Message JS
    const fmsg = document.querySelector(".flash-messages");

    setTimeout(() => {
      if (fmsg.classList.contains("active")) {
        fmsg.classList.remove("active");
      }
    }, 3000);

    const ims = document.querySelector(".inner");
    if (ims !== null && ims.textContent != "") {
      fmsg.classList.add("active");
    }



  </script>
</body>

</html>