<!DOCTYPE html>
<html lang="en" class="box-border scroll-smooth focus:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
    <link rel="icon" href="../static/images/favicon.png">
    <script
      src="https://kit.fontawesome.com/3b57b3cea0.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#FFE0E0]">
    <nav class="large bg-[#FF2828] w-full flex py-[12px] text-white text-[24px] max-[830px]:hidden">
      <div
        class="flex items-center w-[20%] ml-6 text-4xl hover:tracking-[0.1em] transition-all duration-700 cursor-pointer"
      >
        <a href="{{url_for('index')}}">Life Saver</a>
      </div>

      <div class="flex w-[80%] justify-end items-center">
        <div
          class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
        >
          <a href="{{url_for('index')}}">Home</a>
        </div>

        <div
          class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
        >
          <a>About Us</a>
        </div>

        <div
          class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
        >
          <a href="{{url_for('contact')}}">Contact Us</a>
        </div>
        {% if user is not none %}
        <!-- <img src="{{ src }}" id="profile-pic-main" alt="" class="  rounded-full bg-[#d9d9d9]  w-12 h-12 cursor-pointer mx-7"> -->
        <div class="nav-btn p-dropdown input">
          <div class="temp flex items-center">
            <button class="inline mx-[28px]" onclick="showItemS()">
              <img
                src="{{ src }}"
                id="profile-pic-main"
                alt=""
                class="rounded-full bg-[#d9d9d9] w-[48px] h-[48px] cursor-pointer"
              />
            </button>
          </div>

          <div class="options text-[19px]">
            <a href="{{url_for('profile')}}">
              <div onclick="show('Profile')">Profile</div>
            </a>
            <a href="{{url_for('logout')}}">
              <div onclick="show('Log Out')">Log Out</div>
            </a>
          </div>
        </div>
        {% else %}
        <div
          class="log--in cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px]"
        >
          <a href="{{url_for('login')}}">Login</a>
        </div>
        {% endif %}

        <!-- <div
                class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7 rounded-full  w-12 h-12 bg-white">
            </div> -->
      </div>
    </nav>

    <!-- Hamburger for smaller screens  -->
    <nav
      class="small bg-[#FF2828] w-full flex justify-between py-[7px] text-[20px] min-[831px]:hidden"
    >
      <div
        class="flex items-center max-[884px]:text-[30px] ml-[24px] text-[36px] hover:tracking-[0.1em] transition-all duration-700 cursor-pointer text-white"
      >
        <a href="{{url_for('index')}}">Life Saver</a>
      </div>

      <button class="hamburger mx-[28px]">
        <div class="bar"></div>
      </button>

      <div class="mobile-nav flex flex-col items-center">
        {% if user is none %}
        <!-- No user has logged in -->
        <a href="{{url_for('login')}}" class="ni">Log In</a>
        {% else %}

        <div class="h-head ni flex mt-[30px] items-center pl-[0.3rem]">
          <a href="{{url_for('profile')}}">
            <img
              src="{{ src }}"
              id="profile-pic-main"
              alt=""
              class="rounded-md bg-[#d9d9d9] w-[100px] h-[100px]"
            />
          </a>
        </div>

        <div class="ni h-head-2 w-full justify-evenly flex">
          <a href="{{url_for('profile')}}">
            <div class="hh2-1 flex flex-col items-center cursor-pointer">
              <i class="fa-regular fa-user"></i>
              My Profile
            </div>
          </a>
          <a href="{{url_for('logout')}}">
            <div class="hh2-2 flex flex-col items-center cursor-pointer">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              Log Out
            </div>
          </a>
        </div>
        {% endif %}
        <a href="{{url_for('index')}}" class="ni">Home</a>
        <a href="{{url_for('about')}}" class="ni">About Us</a>
        <a href="{{url_for('contact')}}" class="ni">Contact Us</a>
      </div>
    </nav>

    <div class="containerr flex flex-col space-y-10 my-14 w-[80%] mx-auto">
      <div
        class="aboutus border border-[#ff2828] bg-white space-y-3 p-4 rounded-xl"
      >
        <div class="heading font-bold text-3xl max-sm:text-2xl max-[442px]:text-xl  text-[#FF2828] tracking-[2px] max-[360px]:text-center">
          About Us
        </div>
        <p class="text-xl max-sm:text-lg max-[442px]:text-base tracking-[1px] text-justify">
          We, at Life Saver assure you to the maximum that we'll connect the
          authentic donors to the people who actually are in need. We aim to
          help people through the best possible way when they require urgent
          help. Many government hospitals still lack this basic amenity of
          adequate blood being present and thus, we'll keep a record of the
          blood being present and we give our patients and their relatives the
          utmost priority and emphasis. We also aim to function as a bridge
          between hospitals and blood banks.
        </p>
      </div>

      <div
        class="aboutus border border-[#ff2828] bg-white space-y-3 p-4 rounded-xl"
      >
        <div class="heading font-bold text-3xl max-sm:text-2xl max-[442px]:text-xl text-[#FF2828] tracking-[2px] max-[360px]:text-center">
          What we do
        </div>
        <p class="text-xl  max-sm:text-lg max-[442px]:text-base tracking-[1px] text-justify">
          The prime objective of our website is to serve as a bridge between the
          blood donors and people who are in need of blood. We assure you the
          authenticity of the hospitals in our concilation We also provide the
          additional functionality of keeping track of your history whether you
          have donated blood in past and also provide you with certificate as a
          token of appreciation. We do it all for humanity and responsible
          citizens of country
        </p>
      </div>

      <div
        class="aboutus border border-[#ff2828] bg-white space-y-3 p-4 rounded-xl"
      >
        <div class="heading font-bold text-3xl max-sm:text-2xl max-[442px]:text-xl text-[#FF2828] tracking-[2px] max-[360px]:text-center">
          Our Commitment
        </div>
        <p class="text-xl max-sm:text-lg max-[442px]:text-base tracking-[1px] text-justify">
          We are dedicated to the ongoing enhancement of our services in
          response to the changing requirements of our users. Your feedback is
          of great value to us, and we warmly invite you to express your
          thoughts, helping us improve your LifeSaver experience.
        </p>
      </div>

      <div
        class="aboutus border border-[#ff2828] bg-white space-y-3 p-4 rounded-xl"
      >
        <div class="heading font-bold text-3xl max-sm:text-2xl max-[442px]:text-xl text-[#FF2828] tracking-[2px] max-[360px]:text-center">
          Connect With Us
        </div>
        <p class="text-xl max-sm:text-lg max-[442px]:text-base tracking-[1px] text-justify">
          Follow us on social media to stay connected and receive real-time
          updates. Whether you're a blood seeker or blood donor, we've got you
          covered!
        </p>
      </div>
    </div>
    <script>
      
      //->Hamburger Menu JS<-

      const menu_btn = document.querySelector(".hamburger");
      const mobile_menu = document.querySelector(".mobile-nav");

      menu_btn.addEventListener("click", function () {
        menu_btn.classList.toggle("is-active");
        mobile_menu.classList.toggle("is-active");
      });

      //NavBar Profile Click DropDown
      let navbtn = document.querySelector(".nav-btn");
      function showItemS() {
        navbtn.classList.toggle("active");
      }
      document.addEventListener("click", function (event) {
        if (event.target !== navbtn && !navbtn.contains(event.target)) {
          if (navbtn.classList.contains("active"))
            navbtn.classList.remove("active");
        }
      });
      document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
          // Tab is minimized or Tab is moved, remove the "active" class
          navbtn.classList.remove("active");
        }
      });

      const fmsg = document.querySelector(".flash-messages");

      setTimeout(() => {
        if (fmsg.classList.contains("active")) {
          fmsg.classList.remove("active");
        }
      }, 3000);

      const ims = document.querySelector(".inner");
      if (ims.textContent != "") {
        fmsg.classList.add("active");
      }
    </script>
  </body>
</html>
