<!DOCTYPE html>
<html lang="en" class="box-border scroll-smooth focus:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/3b57b3cea0.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- Link to external JavaScript files using url_for -->
    <script src="{{ url_for('static', filename='positiveChart.js') }}"></script>
    <script src="{{ url_for('static', filename='negativeChart.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
  </head>

  <body class="bg-[#ffe0e0]">
    <nav class="bg-[#FF2828] w-full flex py-[12px] text-white text-[24px]">
      <div
        class="flex items-center w-[20%] ml-6 text-4xl hover:tracking-[0.1em] transition-all duration-700 cursor-pointer"
      >
        <a href="index">Life Saver</a>
      </div>

      <div class="flex w-[80%] justify-end items-center">
        <div
          class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
        >
          <a href="Admin">Dashboard</a>
        </div>

        <div
          class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
        >
          <a href="DRequests">Requests</a>
        </div>

        <div
          class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
        >
          <a href="/contact">Client</a>
        </div>
        
        <div
        class="cursor-pointer hover:border-b-2 hover:border-white transition-all duration-100 mx-7"
      >
      <a href="logout">Logout</a>
      </div>
        <!-- <div class="nav-btn p-dropdown input">
          <div class="temp flex items-center">
            <button class="inline mx-[28px]" onclick="showItemS()">
              <img
                src=""
                id="profile-pic-main"
                alt=""
                class="rounded-full bg-[#d9d9d9] w-[48px] h-[48px] cursor-pointer"
              />
            </button>
          </div>

          <div class="options text-[19px]">
            <a href="appointment">
              <div>Get Appointment</div>
            </a>
            <a href="logout">
              <div>Log Out</div>
            </a>
          </div>
        </div> -->

      </div>
    </nav>

    <div class="mt-8 flex justify-center mb-[4rem]">
      <!-- border border-red-700   -->
        <div class="left w-[0%]   p-1 hidden">

            <!-- Flash message start -->
            <div class="flash-messages">
                <div class="msg">
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  <div class="inner">{{ messages[-1] }}</div>

                  {% endif %} {% endwith %}
                </div>
            </div>
            <!--Flash message ends  -->

            <div class="a-options  border-2 border-[#ff2828] flex flex-col text-2xl">
                <div id="op-1" class="ops cursor-pointer border-b-2 border-[#ff2828] py-2  w-full text-center selected">Home</div>
                <div id="op-2" class="ops cursor-pointer border-b-2 border-[#ff2828] py-2  w-full text-center">Donor Requests</div>
                <div id="op-3" class="ops cursor-pointer border-b-2 border-[#ff2828] py-2  w-full text-center">Blood Requests</div>
                <div id="op-4" class="ops cursor-pointer border-b-2 border-[#ff2828] py-2  w-full text-center">Donor</div>
                <div id="op-5" class="ops cursor-pointer py-2  w-full text-center">Hospital</div>
            </div>


        </div>

        <div
            class="a-right w-[90%]   px-7 pt-1 "
          >
            <div class="charts flex flex-wrap justify-between items-between p-2 h-[42rem]">
              <div class="c1 w-[49%] h-[19rem] border border-black bg-white p-4">
                <div class="chart-heaing font-bold text-2xl">Donation(+ve)</div>
                <div id="positiveChart" class="chart  h-[90%]"></div>
              </div>
              <div class="c2 w-[49%] h-[19rem] border border-black bg-white p-4">
                <div class="chart-heaing font-bold text-2xl">Donation(-ve)</div>
                <div id="negativeChart" class="chart  h-[90%]"></div>
              </div>
              <div class="c3 w-[49%] h-[19rem] border border-black bg-white p-4">
                <div class="chart-heaing font-bold text-2xl">Requests(+ve)</div>
                <div class="chart border border-black h-[90%]"></div>
              </div>
              <div class="c4 w-[49%] h-[19rem] border border-black bg-white p-4">
                <div class="chart-heaing font-bold text-2xl">Requests(-ve)</div>
                <div class="chart border border-black h-[90%]"></div>
              </div>
            </div>

            <div class="bi   mb-8  text-2xl font-medium">Blood Inventory</div>

            <table>
                <tr>
                  <th class="bg-[#ff2828] text-white">Type</th>
                  <th class="bg-[#ff2828] text-white">In-Flow</th>
                  <th class="bg-[#ff2828] text-white">Out-Flow</th>
                  <th class="bg-[#ff2828] text-white">Inventory</th>
                </tr>
                <tr>
                  <td class="font-bold">A +</td>
                  <td>{{ in_qu[0] }}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-bold">A -</td>
                  <td>{{ in_qu[1] }}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-bold">B +</td>
                  <td>{{ in_qu[2] }}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-bold">B -</td>
                  <td>{{ in_qu[3] }}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-bold">AB +</td>
                  <td>{{ in_qu[4] }}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-bold">AB -</td>
                  <td>{{ in_qu[5] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                  <td class="font-bold">O+</td>
                  <td>{{ in_qu[6] }}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-bold">O -</td>
                  <td>{{ in_qu[7] }}</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              
              <form action="Admin" method="POST">
              <div class="search border border-black rounded-2xl my-12   flex flex-col pb-2 bg-white">
                
                <div class="heading bg-[#ff2828] rounded-t-[14px] text-white text-2xl pl-4 py-3">
                    Search Blood Stock
                </div>

                  <div class="a-ips flex w-full justify-evenly ">
                      <div class="input-container focus ">
                          <div class="dropdown ">
                            <input
                              type="text"
                              class="textBoxCity input"
                              value="{{sc}}"
                              name="city"
                              id="CitytextBox"
                              required
                            />
                            <div class="options mt-1" id="OptionsCity">
                              {% for city in cities %}
                                <div onclick='showCity("{{ city }}")'>{{ city }}</div>
                              {% endfor %}
                            </div>
                          </div>
                          <label for="">City</label>
                          <span>City</span>
                      </div>

                      <div class="input-container focus">
                          <div class="dropdown a-dropdown">
                            <input
                              type="text"
                              class="textBoxBlood input"
                              value="{{ sb }}"
                              readonly
                              name="Btype"
                              required
                            />
                            <div class="options">
                              <div onclick="showBloodType('ALL')" class="blood-type">
                                ALL
                              </div>
                              <div onclick="showBloodType('A+')" class="blood-type">
                                A+
                              </div>
                              <div onclick="showBloodType('B+')" class="blood-type">
                                B+
                              </div>
                              <div onclick="showBloodType('AB+')" class="blood-type">
                                AB+
                              </div>
                              <div onclick="showBloodType('O+')" class="blood-type">
                                O+
                              </div>
                              <div onclick="showBloodType('A-')" class="blood-type">
                                A-
                              </div>
                              <div onclick="showBloodType('B-')" class="blood-type">
                                B-
                              </div>
                              <div onclick="showBloodType('AB-')" class="blood-type">
                                AB-
                              </div>
                              <div onclick="showBloodType('O-')" class="blood-type">
                                O-
                              </div>
                            </div>
                          </div>
                          <label for="">Blood Type</label>
                          <span>Blood Type</span>
                        </div>
                  </div>

                  <input type="submit" value="Search" class="btnsrch bg-[#ff2828] self-center">
                </div>
              </form>


            <div class="mb-8 mt-4 text-2xl font-medium">Blood Stock Availibility</div>

            <table>
              <tr>
                <th class="bg-[#ff2828] text-white">Type</th>
                <th class="bg-[#ff2828] text-white">In-Flow</th>
                <th class="bg-[#ff2828] text-white">Out-Flow</th>
                <th class="bg-[#ff2828] text-white">Inventory</th>
              </tr>
              {% for blood_type, total_quantity in sd_city.items() %}
                <tr>
                  <td class="font-bold">{{ blood_type }}</td>
                  <td>{{ total_quantity }}</td>
                  <td></td>
                  <td></td>
                </tr>
              {% endfor %}
              </table>
              
        </div>

    </div>


    <script>
      // InputBox Animation JS
      const ips = document.querySelectorAll(".input");
      ips.forEach((ip) => {
        ip.addEventListener("focus", (e) => {
          e.target.parentNode.classList.add("focus");
        });
        if (ip.value != "") {
          ip.parentNode.classList.add("focus");
        }

        ip.addEventListener("blur", (e) => {
          if (e.target.value === "") {
            e.target.parentNode.classList.remove("focus");
          }
        });

        ip.addEventListener("input", (e) => {
          e.target.parentNode.classList.add("focus");
        });
      });

       

      // Js for Updating Value in Input after Selecting
      function showCity(word) {
        document.querySelector(".textBoxCity").value = word;
      }
      function showGender(word) {
        document.querySelector(".textBoxGender").value = word;
      }
      function showBloodType(word) {
        document.querySelector(".textBoxBlood").value = word;
      }

      // Loop through all .dropdown elements
      let dd = document.querySelectorAll(".dropdown");
      dd.forEach(function (dropdown) {
        dropdown.addEventListener("click", function () {
          dropdown.classList.toggle("active");
        });

        dropdown.addEventListener("focus", function () {
          dropdown.classList.add("active");
        });

        dropdown.addEventListener("blur", function () {
          dropdown.classList.remove("active");
        });
        document.addEventListener("click", function (event) {
          if (event.target !== dropdown && !dropdown.contains(event.target)) {
            if (dropdown.classList.contains("active"))
              dropdown.classList.remove("active");
          }
        });
      });

 
      // Flash Message JS
      const fmsg = document.querySelector(".flash-messages");

      setTimeout(() => {
        if (fmsg.classList.contains("active")) {
          fmsg.classList.remove("active");
        }
      }, 3000);

      const ims = document.querySelector(".inner");
      if (ims !== null && ims.textContent != "") {
        fmsg.classList.add("active");
      }

      //City Search Box Js

      function fetchCities() {
        fetch("/get_cities_json")
          .then((response) => response.json())
          .then((data) => {
            var cities = data["cities"];
            const resultBox = document.getElementById("OptionsCity");
            const inputBox = document.getElementById("CitytextBox");
            const rBHTML=resultBox.innerHTML;
            inputBox.onkeyup = function () {

              let result = [];
              let input = inputBox.value;
              if (input.length) {
                result = cities.filter((keyword) => {
                  return keyword.toLowerCase().startsWith(input.toLowerCase());
                });
              }

              display(result);

              if(!result.length){
                resultBox.innerHTML = "";
              }
              if(!input.length){
                resultBox.innerHTML = rBHTML;
              }
            };

            function display(result) {
              resultBox.innerHTML = "";
              const content = result.map((div)=>{
                return '<div onclick=showCity(this.innerHTML)>' + div +'</div>';
              });
              resultBox.innerHTML = content.join('');
            }
          })
          .catch((error) => console.error("Error:", error));
      }
      fetchCities();


      //JS for Options on LEft Side
      let ops=document.querySelectorAll('.ops');

      ops.forEach((op)=>{
        op.addEventListener("click",(e)=>{
            
            ops.forEach(op=>{
                if(op.classList.contains('selected')){
                    op.classList.remove('selected');
                }
            })
            e.target.classList.add('selected');
        })
      })


    </script>
  </body>
</html>
