<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../static/contact.css">
    <script src="https://kit.fontawesome.com/3b57b3cea0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

        <!-- <span class="big-circle"></span> -->

        <div class="form">
            
            <div class="contact-info">
                
                <h3 class="ltitle">Let's get in touch</h3>
                
                <p class="ltext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro beatae dolorum id quibusdam fugiat!</p>
                
                <div class="info">
                    <div class="information">
                        <i class="fa-solid fa-location-dot" style="color: #f02828;"></i>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-envelope" style="color: #f02828;"></i>
                        <p>svspbs567@gmail.com</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-phone" style="color: #f02828;"></i>
                        <p>9083462356</p>
                    </div>
                </div>

                <div class="social-media">  
                    <p>Connect with us :</p>
                    <div class="social-i">
                        <a href="">
                            <i class=" fa-2xl fab fa-facebook-f" ></i>
                        </a>
                        <a href="">
                            <i class=" fa-2xl fab fa-twitter" ></i>
                        </a>
                        <a href="">
                            <i class=" fa-2xl fab fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class=" fa-2xl fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>

            </div>



            <div class="contact-form">
                
                <span class="circle c1"></span>
                <span class="circle c2"></span>
                
                <form action="index.html">
                    
                    <h3 class="title">Contact Us</h3>

                    <div class="input-container ">
                        <input type="text" name="name" class="input">
                        <label for="">Username</label>
                        <span>Username</span>
                    </div>
                    
                    <div class="input-container">
                        <input type="email" name="email" class="input">
                        <label for="">Email</label>
                        <span>Email</span>
                    </div>
                    
                    <div class="input-container">
                        <input type="tel" name="phone" class="input">
                        <label for="">Phone No.</label>
                        <span>Phone No.</span>
                    </div>
                    
                    <div class="input-container textarea ">
                        <textarea name="message" class="input"></textarea>
                        <label for="">Message</label>
                        <span>Message</span>
                    </div>

                    <input type="submit" value="Send" class="btn">

                </form>

            </div>


        </div>
    </div>

    <script>
        const ips = document.querySelectorAll('.input');
        
        ips.forEach(ip => {
            ip.addEventListener('focus', (e) => {
                e.target.parentNode.classList.add('focus');
            });
        
            ip.addEventListener("blur", (e) => {
                if (e.target.value === "") {
                    e.target.parentNode.classList.remove('focus');
                }
            });
        
            ip.addEventListener("input", (e) => {
                    e.target.parentNode.classList.add('focus');
            });
        });
        
    </script>

</body>
</html>