<!DOCTYPE html>
<html lang="en" class="box-border scroll-smooth focus:scroll-auto">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipients</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/3b57b3cea0.js" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- Link to external JavaScript files using url_for -->
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
</head>

<body class="dreq-body bg-[#ffe0e0]">

  <nav class="bg-[#FF2828] w-full flex py-[7px] text-white text-[24px] ">
    <div class="flex items-center
        w-[20%]   
    ml-[24px] text-[36px]  hover:tracking-[0.1em]
    transition-all duration-700 cursor-pointer
                ">
      <a href="index">Life Saver</a>
    </div>
    <div class=" flex w-[80%] justify-end items-center">
      <div class="cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px] ">
        <a href="/index">Home</a>
      </div>

      <div class="cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px] ">
        <a>About Us</a>
      </div>

      <div class="cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px] ">
        <a href="/contact">Contact Us</a>
      </div>

      {% if user is none %}
      <div class="log--in cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px]">
        <a href="login">Login</a>
      </div>
      {% else %}
      <!-- <div class="log--out loginout cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px]">
                <a href="logout">Log Out</a>
            </div> -->
      <div class="nav-btn p-dropdown input ">

        <div class="temp flex items-center">
          <button class="inline mx-[28px]" onclick="showItemS()">
            <img src="{{ src }}" id="profile-pic-main" alt=""
              class="rounded-full bg-[#d9d9d9]  w-[48px] h-[48px] cursor-pointer ">
          </button>
        </div>

        <div class="options text-[19px]">
          {% if user.has_role('hospital') %}
          <a href="HProfile">
            <div onclick="show('Profile')">Profile</div>
          </a>
          <a href="HAppointment">
            <div>Get Blood</div>
          </a>
          {% else %}
          <a href="profile">
            <div onclick="show('Profile')">Profile</div>
          </a>
          {% endif %}
          <a href="logout">
            <div>Log Out</div>
          </a>
        </div>

      </div>

      <!-- <div class="cursor-pointer hover:border-b-[2px] hover:border-white transition-all duration-100 mx-[28px] rounded-full  w-[48px] h-[48px] bg-white"> -->
      <!-- <a href="profile">
                    <img src="{{ src }}" id="profile-pic-main" alt="" class="  rounded-full bg-[#d9d9d9]  w-[48px] h-[48px] cursor-pointer mx-[28px]">
                </a> -->
      <!-- </div> -->
      {% endif %}


    </div>
  </nav>

  <!-- Hamburger for smaller screens  -->
  <nav class="small bg-[#FF2828] w-full flex justify-between py-[7px] text-[20px] min-[831px]:hidden ">

    <div
      class="flex items-center  max-[884px]:text-[30px] ml-[24px] text-[36px] hover:tracking-[0.1em] transition-all duration-700 cursor-pointer text-white">
      <a href="index">Life Saver</a>
    </div>

    <button class="hamburger mx-[28px]">
      <div class="bar"></div>
    </button>

    <div class="mobile-nav flex flex-col items-center ">
      {% if user is none %}
      <!-- No user has logged in -->
      <a href="login" class="ni">Log In</a>
      {% else %}

      <div class="h-head  ni flex mt-[30px] items-center 
      pl-[0.3rem]">
        <a href="profile">
          <img src="" id="profile-pic-main" alt="" class="rounded-md bg-[#d9d9d9] w-[100px] h-[100px] " />
        </a>
      </div>

      <div class="ni h-head-2 w-full justify-evenly flex  ">
        <a href="appointment">
          <div class="hh2-1  flex flex-col items-center cursor-pointer">
            <img src="../static/images/appointment-logo.png" width="26px" height="26px" alt="">
            Get Appointment
          </div>
        </a>
        <a href="logout">
          <div class="hh2-2 flex flex-col items-center cursor-pointer mt-[5px]">
            <i class="fa-solid fa-arrow-right-from-bracket opacity-[0.7] scale-[1.1]"></i>
            Log Out
          </div>
        </a>
      </div>
      {% endif %}
      <a href="index" class="ni">Home</a>
      <a href="about" class="ni">About Us</a>
      <a href="contact" class="ni">Contact Us</a>
    </div>
  </nav>

  <div class="header   py-4 mt-4 flex justify-between items-center font-medium">
    <div class="ml-8 text-3xl ">Recipient</div>
    <button class="border border-black mr-8 py-2 border-none rounded-xl px-8 bg-[#ff2828] text-white text-2xl">
      + Add New Recipient</button>


  </div>

  <div class="mt-8 flex  items-center flex-col mb-[4rem] ">

    <div class="h-recipient w-[90%] ">
      <table>
        <tr>
          <th class="bg-[#ff2828] text-white text-xl ">Recipient ID</th>
          <th class="bg-[#ff2828] text-white text-xl ">Name</th>
          <th class="bg-[#ff2828] text-white text-xl ">DOB</th>
          <th class="bg-[#ff2828] text-white text-xl ">Gender</th>
          <th class="bg-[#ff2828] text-white text-xl ">Blood Group</th>
          <th class="bg-[#ff2828] text-white text-xl ">Phone No.</th>
        </tr>
        {% for res in ress %}
        <tr>
          <td>{{ res.recipient_id }}</td>
          <td>{{ res.first_name + " " + res.last_name }}</td>
          <td>{{ res.date_of_birth }}</td>
          <td>{{ res.gender }}</td>
          <td>{{ res.blood_type }}</td>
          <td>{{ res.contact_phone }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="R-info mx-auto mt-10   w-[60%] py-4  px-4 bg-white rounded-xl ">
      <form method="POST" action="HRadd" class="space-y-4">

        <div class="text-2xl text-[#ff2828] font-medium  ">Recipient Information</div>

        <div class="1 flex justify-between">
          <div class="input-container w-[40%] ">
            <input type="text" name="fname" class="input" value="" required />
            <label for="">First Name</label>
            <span>First Name</span>
          </div>
          <div class="input-container w-[40%]">
            <input type="text" name="lname" class="input " value="" required />
            <label for="">Last Name</label>
            <span>Last Name</span>
          </div>
        </div>

        <div class="2 flex justify-between">
          <div class="input-container w-[40%] focus">
            <input type="date" name="DOB" class="date" value="" required />
            <label for="">Date of Birth</label>
            <span>Date of Birth</span>
          </div>
          <div class="input-container w-[40%]">
            <div class="dropdown input">
              <input type="text" class="textBoxGender" value="Male" readonly name="gender" required />
              <div class="options">
                <div onclick="showGender('Male')">Male</div>
                <div onclick="showGender('Female')">Female</div>
              </div>
            </div>
            <label for="">Gender</label>
            <span>Gender</span>
          </div>
        </div>


        <div class="3 flex justify-between">
          <div class="input-container w-[40%] ">
            <input type="text" name="mob" class="input" value="" required />
            <label for="">Mobile</label>
            <span>Mobile</span>
          </div>
          <div class="input-container w-[40%]">
            <input type="text" name="emailid" class="input " value="" required />
            <label for="">Email</label>
            <span>Email</span>
          </div>
        </div>

        <div class="4 flex justify-between">
          <div class="input-container textarea w-[100%]">
            <textarea name="address" class="input" required></textarea>
            <label for="">Address</label>
            <span>Address</span>
          </div>
        </div>

        <div class="5 flex justify-between">
          <div class="input-container w-[40%] ">
            <input type="text" name="mhis" class="input" value="" required />
            <label for="">Medical History</label>
            <span>Medical History</span>
          </div>
          <div class="input-container w-[40%]">
            <div class="dropdown input">
              <input type="text" class="textBoxBlood" value="A+" readonly name="Btype" required />
              <div class="options">
                <div onclick="showBloodType('A+')" class="blood-type">
                  A+
                </div>
                <div onclick="showBloodType('B+')" class="blood-type">
                  B+
                </div>
                <div onclick="showBloodType('AB+')" class="blood-type">
                  AB+
                </div>
                <div onclick="showBloodType('O+')" class="blood-type">
                  O+
                </div>
                <div onclick="showBloodType('A-')" class="blood-type">
                  A-
                </div>
                <div onclick="showBloodType('B-')" class="blood-type">
                  B-
                </div>
                <div onclick="showBloodType('AB-')" class="blood-type">
                  AB-
                </div>
                <div onclick="showBloodType('O-')" class="blood-type">
                  O-
                </div>
              </div>
            </div>
            <label for="">Blood Type</label>
            <span>Blood Type</span>
          </div>
        </div>

        <button class="border border-black  py-1 border-none rounded-2xl px-8 bg-[#ff2828] text-white text-xl">
          Add</button>
      </form>
    </div>
  </div>


  <script>

    //NavBar Profile Click DropDown
    let navbtn = document.querySelector(".nav-btn");
    function showItemS() {
      navbtn.classList.toggle("active");
    }
    document.addEventListener("click", function (event) {
      if (event.target !== navbtn && !navbtn.contains(event.target)) {
        if (navbtn.classList.contains("active"))
          navbtn.classList.remove("active");
      }
    });
    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        // Tab is minimized or Tab is moved, remove the "active" class
        navbtn.classList.remove("active");
      }
    });

    //->Hamburger Menu JS<-
    const menu_btn = document.querySelector('.hamburger');
    const mobile_menu = document.querySelector('.mobile-nav');
    console.log(menu_btn);
    console.log(mobile_menu);
    menu_btn.addEventListener('click', function () {
      menu_btn.classList.toggle('is-active');
      mobile_menu.classList.toggle('is-active');
    });

    // InputBox Animation JS
    const ips = document.querySelectorAll(".input");
    ips.forEach((ip) => {
      ip.addEventListener("focus", (e) => {
        e.target.parentNode.classList.add("focus");
      });
      if (ip.value != "") {
        ip.parentNode.classList.add("focus");
      }

      ip.addEventListener("blur", (e) => {
        if (e.target.value === "") {
          e.target.parentNode.classList.remove("focus");
        }
      });

      ip.addEventListener("input", (e) => {
        e.target.parentNode.classList.add("focus");
      });
    });

    // Flash Message JS
    const fmsg = document.querySelector(".flash-messages");

    setTimeout(() => {
      if (fmsg.classList.contains("active")) {
        fmsg.classList.remove("active");
      }
    }, 3000);

    const ims = document.querySelector(".inner");
    if (ims !== null && ims.textContent != "") {
      fmsg.classList.add("active");
    }

    // Js for Updating Value in Input after Selecting
    function showCity(word) {
      document.querySelector(".textBoxCity").value = word;
    }
    function showGender(word) {
      document.querySelector(".textBoxGender").value = word;
    }
    function showBloodType(word) {
      document.querySelector(".textBoxBlood").value = word;
    }

    // Loop through all .dropdown elements
    let dd = document.querySelectorAll(".dropdown");
    dd.forEach(function (dropdown) {
      dropdown.addEventListener("click", function () {
        dropdown.classList.toggle("active");
      });

      dropdown.addEventListener("focus", function () {
        dropdown.classList.add("active");
      });

      dropdown.addEventListener("blur", function () {
        dropdown.classList.remove("active");
      });
      document.addEventListener("click", function (event) {
        if (event.target !== dropdown && !dropdown.contains(event.target)) {
          if (dropdown.classList.contains("active"))
            dropdown.classList.remove("active");
        }
      });
    });



  </script>
</body>

</html>