<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeSaver</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/3b57b3cea0.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        
        <a href="index.html" class="logo-a">
            <h1 class="logo ">Life Saver</h1>                
        </a>
        
        <div class="nav-items">
            <ul>
                <li class="nav-item"> <a href="/">Home</a> </li>
                <li class="nav-item"> <a href="about">About Us</a> </li>
                <li class="nav-item"> <a href="contact">Contact Us</a> </li>
                {% if user is none %}
                <li class="nav-item"> <a href="login">Login</a></li>
                {% else %}    
                <li class="nav-item">
                    {{ name }}
                </a></li>
                <li><a href="logout">Log Out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <header></header>

    <div class="content">
        <div class="upper">Donate blood Save life !</div>
        <div class="lower">
            <span class="lower-in"> Your Donation  </span>
            <span class="lower-in"> bring smile on </span>
            <span class="lower-in"> other’s face </span>
        </div>
    </div>
    
    <div class="helpful-info">
        <div class="container">
            <div class="h1">Helpful Information</div>
            <div class="h2">
                <ol>
                    <li class="h2-in">To maintain healthy blood, it's important to consume a balanced diet rich in nutrients like iron, vitamins, and minerals.</li>
                    <li class="h2-in">Regular exercise, such as walking or jogging, can improve blood circulation and overall health.</li>
                    <li class="h2-in">To make the donation process more comfortable, be sure to eat a healthy meal and stay well-hydrated before your appointment.</li>
                    <li class="h2-in">After donating blood, remember to drink plenty of fluids to stay hydrated and prevent dizziness.</li>
                    <li class="h2-in">A great post-donation tip is to avoid heavy lifting or strenuous activities for at least 24 hours.</li>
                </ol>
            </div>
        </div>
    </div>
    
    <div class="counts">
        <div class="container">

            <div class="count-items count-item1">
                <div class="extra">
                    <span class="text-red">3500+</span>
                    <p>Happy Donors</p>
                </div>
            </div>
            <div class="count-items count-item2">
                <div class="extra">
                    <span class="text-red">3000+</span>
                    <p>Happy Recipients</p>
                </div>
            </div>
            <div class="count-items count-item3">
                <div class="extra">
                    <span class="text-red">2678+</span>
                    <p>Success Smiles</p>
                </div>
            </div>
            <div class="count-items count-item4">
                <div class="extra">
                    <span class="text-red">20+</span>
                    <p>Awards</p>
                </div>
            </div>
        </div>
    </div>

    <div class="process">
        <div class="p-1">
            Donation Process
        </div>
        <div class="p-2">
            <div class="container">
    
                <div class="process-items process-item1">
                    <div class="extra">
                        <span class="text-red">Registration</span>
                        <div>Fill out a brief registration form.Provide your contact information and relevant details.</div>
                    </div>
                </div>
                <div class="process-items process-item2">
                    <div class="extra">
                        <span class="text-red">Health Check</span>
                        <div>Undergo a quick health check, including a brief interview and a basic physical examination</div>
                    </div>
                </div>
                <div class="process-items process-item3">
                    <div class="extra">
                        <span class="text-red">Donation</span>
                        <div>A skilled phlebotomist will perform the blood collection, typically taking about 10-15 minutes</div>
                    </div>
                </div>
                <div class="process-items process-item4">
                    <div class="extra">
                        <span class="text-red">Recovery</span>
                        <div>Rest for a few minutes and enjoy some refreshments in our recovery area.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="saving-lives">
        <div class="in">
            Join Us in Saving Lives!
        </div>
        <div class="opinion">
            <div class="one">
                <div class="one-1">
                    Donor Opinion
                </div>
                <div class="one-2">
                    <div class="one-21">
                        Donating blood has been an incredible experience. It's quick, painless, and knowing that I'm helping others gives me a sense of fulfillment like no other. I encourage everyone to give it a try – you won't regret it
                    </div>
                    <div class="one-22">
                        -Sarah Johnson
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="donate-now">
        <div class="in">
            <div class="in-1">It's Your Turn to Shine as a Blood Donor – Join Our Mission</div>
            <div class="in-2">Are you ready to step into the spotlight and make a difference? Becoming a blood donor means joining a league of extraordinary individuals who shine brightly in the lives of those in need.</div>
            <a href="login" class="in-3">Donate Now</a>
            <!-- <div class="in-3"><a href="login">Donate Now</a></div> -->
        </div>
    </div>

</body>

</html>