<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name[0].split(' ')[0]}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='certificate.css') }}">
    <link rel="icon" href="../static/images/favicon.png">
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
</head>

<body>
    <!-- <img src="../static/images/border.png" > -->
    <button id="saveAsPdfButton" class="in-3">Download Certificate</button>
    <div class="certificate">
        <div class="header">
            <img src="../static/images/logo.png" alt="Blood Bank Logo">
            <h1>Blood Donation Certificate</h1>
        </div>
        <div class="content">
            <p>This is to certify that <span class="bold">{{ name[0] }}</span> has generously donated blood on <br><span
                    class="italic">{{ name[1] }}</span> at <span class="underline">{{ name[2] }}</span>.
            <p>Thank you for your life-saving donation!</p>
            </p>
        </div>
    </div>
    <script>

        document.getElementById('saveAsPdfButton').addEventListener('click', function () {
            // Use html2pdf to save the page as a PDF
            var element = document.querySelector('.certificate');
            html2pdf(element, {
                margin: 0,
                filename: '{{name[0].split(" ")[0]}}.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'landscape' }
            });
        });
    </script>
</body>

</html>